:root {
    --font-family: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-family);
    font-weight: 300;
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.shop-text {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 100%;
    font-family: "Helvetica Neue";
}

.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-20 {
    font-size: 20px;
}

.home {
    padding: 16px;
    margin: auto;
    width: 100%;
}
