.phone-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    border-top: 0.5px solid black;
    padding: 16px;
}

.phone-card-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.phone-card-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.phone-card-brand {
    color: #79736d;
}

.phone-card-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    box-sizing: border-box;
}

.phone-card-image-container.reduce-image .phone-image {
    padding: 45px;
}

.phone-image {
    object-fit: contain;
    padding: 10px;
    box-sizing: border-box;
}
